html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444;
  font-family: sans-serif;
  font-size: 8vmin;
  color: white;
}
